{% extends 'sidebar.html' %}

{% block main %}
    <main>
        {% include 'messages.html' %}
        <div class="container-fluid px-4">

            <h2 class="mt-4">Liste des opérateurs téléphoniques</h2>

            <hr>


            <a href="{% url 'operator_add' %}" class="btn btn-sm btn-outline-primary">Ajouter un opérateur</a>

            <hr>
            <div class="row">


                <table class="table table-bordered table-striped">

                    <thead class=" text-white" style="background: #198754">
                    <tr>

                        <th scope="col" class="d-none d-md-table-cell">Pays</th>
                        <th scope="col">Dénomination</th>
                        <th scope="col">Action</th>

                    </tr>
                    </thead>
                    <tbody id="TicketTableBody">
                    {% for operator in operators %}
                        <tr>

                            <td class="d-none d-md-table-cell">{{ operator.country }}</td>
                            <td>{{ operator.name }}</td>


                            <!-- Boutons CRUD -->
                            <td>
                                <div class="d-flex flex-column flex-sm-row gap-2">

                                    <a href="{% url 'operator_edit' operator.id %}" class="btn btn-sm btn-warning">Modifier</a>

                                    <button
                                            class="btn btn-sm btn-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal{{ operator.id }}">

                                        Supprimer
                                    </button>
                                    {#                            {% endif %}#}
                                </div>
                            </td>
                        </tr>



                        <!-- Modale de confirmation -->
                        <div class="modal fade" id="deleteModal{{ operator.id }}" tabindex="-1"
                             aria-labelledby="deleteModalLabel{{ ticket.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ operator.id }}">Confirmation de
                                            suppression</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Fermer"></button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer l'opérateur <strong>{{ operator.name }}
                                        de {{ operator.country }}</strong> ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Annuler
                                        </button>

                                        <form method="post" action="{% url 'operator_delete' operator.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Confirmer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
                {% include 'pagination.html' %}

            </div>

        </div>


    </main>

{% endblock main %}






