{% extends 'sidebar.html' %}
{% load humanize %}

{% block main %}
    <main>
        {% include 'messages.html' %}
        <div class="container-fluid px-4">

            <h2 class="mt-4">Situation des transferts</h2>

            <hr>


            <a href="{% url 'transfert_add' %}" class="btn btn-sm btn-outline-primary">Ajouter un transfert</a>

            <hr>
            <div class="row">

                <!-- Champ de recherche -->
                <div class="justify-content-center " style="background: #eae8e8; border-radius:10px">
                    <div class="row mb-3 ">
                        <div class="col-md-3">
                            <label for="startDate" class="form-label">📅 Date début</label>
                            <input type="date" id="startDate" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="endDate" class="form-label">📅 Date fin</label>
                            <input type="date" id="endDate" class="form-control">
                        </div>

                    </div>

                    <div class="row mb-3">

                        <div class="col-md-3">
                            <select id="filterAgency" class="form-select ">
                                <option value="">🏬Toutes les agences</option>
                                {% for agency in agencies %}
                                    <option value="{{ agency.name | lower }}">{{ agency.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select id="statut" class="form-select mt-3">
                                <option value="">Opération</option>
                                <option value="depot">Dépôt</option>
                                <option value="retrait">Retrait</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped">

                    <thead class=" text-white" style="background: #198754">
                    <tr>

                        <th scope="col" class="d-none d-md-table-cell">Agence</th>
                        <th scope="col" class="d-none d-md-table-cell">Carte SIM</th>
                        <th scope="col">Type Opération</th>
                        <th scope="col">N° Client</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Commission</th>
                        <th scope="col">Solde</th>
                        <th scope="col">Capture</th>


                    </tr>
                    </thead>
                    <tbody id="TransfertTableBody">
                    {% for transfert in transferts %}
                        <tr>

                            <td class="d-none d-md-table-cell"> {{ transfert.agency }}</td>
                            <td class="d-none d-md-table-cell">{{ transfert.sim_card }}</td>
                            <td>
                                {% if transfert.operation_type == "S" %}
                                    <span class="badge bg-danger">
                                        <i class="fas fa-arrow-down"></i> {{ transfert.get_operation_type_display }}
                                    </span>
                                {% else %}
                                    <span class="badge bg-success">
                                        <i class="fas fa-arrow-up"></i> {{ transfert.get_operation_type_display }}
                                    </span>
                                {% endif %}

                            </td>
                            <td>{{ transfert.number }}</td>
                            <td>
                                {% if transfert.amount < 0 or transfert.operation_type == "S" %}
                                    <span class="badge bg-danger">
                                        <i class="fas fa-arrow-down"></i> {{ transfert.amount|intcomma }} {{ transfert.currency }}
                                    </span>
                                {% else %}
                                    <span class="badge bg-success">
                                        <i class="fas fa-arrow-up"></i> {{ transfert.amount|intcomma }} {{ transfert.currency }}
                                    </span>
                                {% endif %}

                            </td>

                            <td>
                                {% if transfert.commission_amount < 0 or transfert.operation_type == "S" %}
                                    <span class="badge bg-danger">
                                        <i class="fas fa-arrow-down"></i> {{ transfert.commission_amount|intcomma }} {{ transfert.currency }}
                                    </span>
                                {% else %}
                                    <span class="badge bg-success">
                                        <i class="fas fa-arrow-up"></i> {{ transfert.commission_amount|intcomma }} {{ transfert.currency }}
                                    </span>
                                {% endif %}

                            </td>

                            <td>
                            <span class="fw-bold">
                                       {{ transfert.balance|intcomma }} {{ transfert.currency }}
                                    </span>

                            </td>

                            <td>
                                {% if transfert.screenshot %}
                                    <a href="{{ transfert.screenshot.url }}">
                                        <img src="{{ transfert.screenshot.url }}" width="60" height="60"
                                             style="object-fit:cover; border-radius:6px; border:1px solid #ddd;">
                                    </a>
                                {% endif %}
                            </td>


                        </tr>



                        <!-- Modale de confirmation -->
                        <div class="modal fade" id="deleteModal{{ simcard.id }}" tabindex="-1"
                             aria-labelledby="deleteModalLabel{{ simcard.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ simcard.id }}">Confirmation de
                                            suppression</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Fermer"></button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer l'opérateur <strong>{{ simcard.number }}
                                        de {{ simcard.operator }}</strong> ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Annuler
                                        </button>

                                        {#                                        <form method="post" action="{% url 'simcard_delete' simcard.id %}">#}
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Confirmer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
                {% include 'pagination.html' %}

            </div>

        </div>


    </main>

{% endblock main %}






