{% extends 'sidebar.html' %}

{% block main %}

<main>
                    <div class="container-fluid px-4">
                        <h2 class="mt-4">AMOURECK Chat</h2>

                        <hr>
                        <div class="row justify-content-center">
                          <div class="col-md-6">
                            <form id = "post-form" method="POST" action="/chat/checkview/" class="shadow p-4 bg-light rounded form-control">
                                {% csrf_token %}

                                <div class="mb-3" >
                                     <select name="room_name" id="" class="form-select ">
                                        {% for room in rooms %}
                                        <option value="{{ room.name }}">{{ room.name }}</option>
                                        {% endfor %}
                                </select>
                                </div>
                                <br>

                                    <div class="mb-3 " hidden="">
                                        <input type="text" class="shadow p-4 bg-light rounded" name="username" value={{ username }} readonly/>
                                    </div>

                                <br>


                                    <input type="submit" value="Se connecter au Salon" class="form-control text-white" style="background: #04414d">
                            </form>

                        </div>
                    </div>
                    </div>

<script>

</script>
                </main>

{% endblock main %}






