
{% block navbar %}
<nav class="sb-topnav navbar navbar-expand-lg navbar-dark " style="background-color: #04414d;">
    <div class="container-fluid">


        <div class="d-flex align-items-center">
            <!-- Sidebar Toggle -->
            <button class="btn btn-link btn-sm me-2" id="sidebarToggle">
                <i class="fas fa-bars"></i>
            </button>
    
            <!-- Navbar Brand -->
            {% if perms.users.can_view_dashboard %}
                <a class="navbar-brand ps-1" href="{% url 'dashboard' %}">Dashboard </a>
               
                
            {% endif %}
        
            

        </div>

    {% block scrolling_text %}
    <div class="navbar-text text-warning fw-bold ">
        <span>
            👋 Bienvenue {{ user_full_name }}, Vous êtes connecté(e) à l'agence {{ user_agency_name }}
        </span>
    </div>
{% endblock scrolling_text %}
    
    </div>
</nav>


    <style>
/* Animation pour le texte défilant */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.navbar-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%; /* S'assure que l'élément prend toute la largeur */
}

.navbar-text span {
    display: inline-block;
    padding-right: 100%;
    animation: scroll-left 40s linear infinite; /* Changer la durée ici */
}

/* Cacher le texte défilant sur les petits écrans (mobile) */
@media (max-width: 768px) {
    .navbar-text {
        display: none;
    }
}

    </style>
{% endblock navbar %}

