<form method="get" class="mb-4 ">
    <div class="input-group " style="max-width: 350px;">
        <input type="text" name="q" class="form-control " placeholder="Rechercher par nom"
               value="{{ request.GET.q }}">
        <button class="btn text-white" type="submit" style="background:#04414d">Rechercher</button>
    </div>
</form>

{#<form role="form">#}
{#    <div class="input-group-lg">#}
{#        <div class="row">#}
{#            <div class="col-6 col-md-4 ">#}
{#                 <div class="form-floating mb-3">#}
{#                     <input type="text" class="form-control" name="q" id="nom" placeholder="Recherche par nom" value="{{ request.GET.q }}">#}
{#                    <label for="nom">Recherche par nom</label>#}
{#                 </div>#}
{#            </div>#}
{#            <div class="col-6 col-md-4">#}
{#                <div class="form-floating mb-3">#}
{#                  #}
{#                  #}
{#                </div>#}
{#            </div>#}
{#          #}
{#            <div class="col-6 col-md-4">#}
{#                <div class="form-floating mb-3">#}
{#                    <button class="btn btn-lg text-white" type="submit" style="background:#04414d">Rechercher</button>#}
{#                </div> #}
{#            </div>#}
{#        </div>#}
{#       #}
{#    </div>#}
{#        #}
{#     #}
{##}
{#    #}
{#</form>#}