{% block sidebar %}

<div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu" style="background:#04414d">
                        <div class="nav">
                            
                            <div class="dropdown mb-4 mx-2 ">
                                
                                <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-cogs fa-fw me-2 text-white"></i>
                                    Paramètres
                                </a>
                                <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">

                                    <li><a class="dropdown-item" href="{% url 'countries_list' %}">
                                        <i class="fas fa-globe fa-fw me-2 text-black"></i>
                                        Pays</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'towns_list' %}">
                                        <i class="fas fa-city fa-fw me-2 text-black"></i>
                                        Villes</a></li>
                                     <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'agencies_list' %}">
                                        <i class="fas fa-building-user fa-fw me-2 text-black"></i>
                                        Agences</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'customers_list' %}">
                                        <i class="fas fa-users fa-fw me-2 text-black"></i>

                                        Clients</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                </ul>
                            </div>
                            <div class="dropdown mb-4 mx-2 ">
                                
                                <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-bus fa-fw me-2 text-white"></i>
                                    Gestion des passagers
                                </a>
                                <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">

                                    <li><a class="dropdown-item" href="{% url 'ticket_list' %}">
                                        <i class="fas fa-globe fa-fw me-2 text-black"></i>
                                        Vente de ticket</a></li>
                                        <li><hr class="dropdown-divider"></li>
{#                                    <li><a class="dropdown-item" href="{% url 'towns_list' %}">#}
{#                                        <i class="fas fa-city fa-fw me-2 text-black"></i>#}
{#                                        Villes</a></li>#}
{#                                     <li><hr class="dropdown-divider"></li>#}
{#                                    <li><a class="dropdown-item" href="{% url 'agencies_list' %}">#}
{#                                        <i class="fas fa-building-user fa-fw me-2 text-black"></i>#}
{#                                        Agences</a></li>#}
{#                                        <li><hr class="dropdown-divider"></li>#}
{#                                    <li><a class="dropdown-item" href="{% url 'customers_list' %}">#}
{#                                        <i class="fas fa-users fa-fw me-2 text-black"></i>#}
{##}
{#                                        Clients</a></li>#}
{#                                        <li><hr class="dropdown-divider"></li>#}
                                </ul>
                            </div>
                            
                        </div>
                      <!-- Right Section -->

                    <!-- Right Section -->
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item">
                            <a class="btn btn-danger btn-sm" href="{% url 'logout' %}" id="logoutButton">Déconnexion</a>
                        </li>

                        <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    const logoutBtn = document.getElementById("logoutButton");

                                    logoutBtn.addEventListener("click", function(event) {
                                        
                                        event.preventDefault(); // Empêche la redirection immédiate
                                        let confirmLogout = confirm("Voulez-vous vraiment vous déconnecter ?");
                                        if (confirmLogout) {
                                            window.location.href = logoutBtn.getAttribute("href"); // Redirection si confirmé
                                        }
                                    });
                                });
                        </script>

                    </ul>
                    </div>

                    

                    <div class="sb-sidenav-footer text-white" style="background:black ">
                        {{ user_agency_name }} 


                    </div>
                </nav>
            </div>



            <div id="layoutSidenav_content">
                {% block main %} {% endblock main %}
{#                {% block footer %} {% endblock footer %}#}

            </div>
 </div>



{% endblock sidebar %}