{% block sidebar %}

<div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu" style="background:#04414d">
                        <div class="nav">

               

                         <div class="dropdown mb-4 mx-2 ">
                                
                                <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-cogs fa-fw me-2 text-white"></i>
                                    Paramètres
                                </a>
                                
                                <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">

                                    <li><a class="dropdown-item" href="">
                                        <i class="fas fa-globe fa-fw me-2 text-black"></i>
                                        Pays</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="">
                                        <i class="fas fa-building fa-fw me-2 text-black"></i>
                                        Succursales</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'customers_list' %}">
                                        <i class="fas fa-users fa-fw me-2 text-black"></i>

                                        Clients</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                </ul>
                            </div>
                        <div class="dropdown mb-4 mx-2 ">
                                
                                <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="" role="button" id="dropdownMenuLink1"  aria-expanded="false">
                                    <i class="fas fa-cogs fa-fw me-2 text-white"></i>
                                    Entrée en stock
                                </a>
                            
                            </div>

                            <div class="dropdown mb-4 mx-2">
                             
                                <a class="btn btn-success w-100 d-flex justify-content-between " href="" role="button" id="dropdownMenuLink2" aria-expanded="false">
                                    <i class="fas fa-exchange-alt fa-fw me-2 text-white"></i>
                                    Transfert entre stocks
                                </a>
                            
                            </div>
                            <div class="dropdown mb-4 mx-2">
                            
                                <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">

                                    <i class="fas fa-th-large fa-fw me-2 text-white"></i>

                                    Inventaire
                                </a>
                        
                                 <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">
                                    <li><a class="dropdown-item" href="#">
                                        <i class="fas fa-plus-square fa-fw me-2 text-black"></i>

                                        Saisie Inventaire</a></li>
                                     <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">
                                        <i class="fas fa-sync-alt fa-fw me-2 text-black"></i>

                                        Réinitialisation stock</a></li>

                                </ul>

                            </div>
                              <div class="dropdown mb-4 mx-2">
                             
                                <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
                                     <i class="fas fa-chart-bar fa-fw me-2 text-white"></i>
                                    Rapports
                                </a>
                              
                                 <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">
                                    <li><a class="dropdown-item" href="#">
                                        <i class="fas fa-chart-line fa-fw me-2 text-black"></i>


                                        Situation stocks</a></li>
                                     <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">
                                        <i class="fas fa-chart-pie fa-fw me-2 text-black"></i>


                                        Sorties stock</a></li>
                                     <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">
                                        <i class="fas fa-file-alt fa-fw me-2 text-black"></i>


                                        Inventaires</a></li>
                                     <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">
                                        <i class="fas fa-table fa-fw me-2 text-black"></i>

                                        Entrées en stock</a></li>
                                     <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">
                                        <i class="fas fa-clipboard-list fa-fw me-2 text-black"></i>

                                        Transferts stocks</a></li>
                                     <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">
                                        <i class="fas fa-clipboard-check fa-fw me-2 text-black"></i>

                                        Historique produit</a></li>
                                     <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">
                                        <i class="fas fa-print fa-fw me-2 text-black"></i>

                                        Liste fournisseurs</a></li>

                                </ul>
                            </div>

                        </div>
                      <!-- Right Section -->

                    <!-- Right Section -->
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item">
                            <a class="btn btn-danger btn-sm" href="{% url 'logout' %}" id="logoutButton">Déconnexion</a>
                        </li>

                        <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    const logoutBtn = document.getElementById("logoutButton");

                                    logoutBtn.addEventListener("click", function(event) {
                                        
                                        event.preventDefault(); // Empêche la redirection immédiate
                                        let confirmLogout = confirm("Voulez-vous vraiment vous déconnecter ?");
                                        if (confirmLogout) {
                                            window.location.href = logoutBtn.getAttribute("href"); // Redirection si confirmé
                                        }
                                    });
                                });
                        </script>

                    </ul>
                    </div>

                    

                    <div class="sb-sidenav-footer text-white" style="background:black ">
                        {{ user.first_name }} {{ user.last_name }}


{#                        <hr>#}
{#                        récupération de la succursale à partir du context_processors#}
{#                        {{ current_branch.description }}#}

                    </div>
                </nav>
            </div>



            <div id="layoutSidenav_content">
                {% block main %} {% endblock main %}
{#                {% block footer %} {% endblock footer %}#}

            </div>
 </div>



{% endblock sidebar %}