{% block sidebar %}

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu" style="background:#04414d">
                    <div class="nav">

                        <div class="dropdown mb-4 mx-2 ">

                            <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#"
                               role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-cogs fa-fw me-2 text-white"></i>
                                Paramètres
                            </a>
                            <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">

                                <li><a class="dropdown-item" href="{% url 'countries_list' %}">
                                    <i class="fas fa-globe fa-fw me-2 text-black"></i>
                                    Pays</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'towns_list' %}">
                                    <i class="fas fa-city fa-fw me-2 text-black"></i>
                                    Villes</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'agencies_list' %}">
                                    <i class="fas fa-building-user fa-fw me-2 text-black"></i>
                                    Agences</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'operators_list' %}">
                                    <i class="fas fa-tower-cell fa-fw me-2 text-black"></i>
                                    Opérateurs Tél.</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'simcards_list' %}">
                                    <i class="fas fa-sim-card  fa-fw me-2 text-black"></i>
                                    Cartes SIM</a></li>

                            </ul>
                        </div>


                        <div class="dropdown mb-4 mx-2 ">

                            <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#"
                               role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bus fa-fw me-2 text-white"></i>
                                Gestion des passagers
                            </a>
                            <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">
                                <li><a class="dropdown-item" href="{% url 'customers_list' %}">
                                    <i class="fas fa-users fa-fw me-2 text-black"></i>

                                    Clients</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li><a class="dropdown-item" href="{% url 'ticket_list' %}">
                                    <i class="fas fa-globe fa-fw me-2 text-black"></i>
                                    Vente de ticket</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li><a class="dropdown-item" href="{% url 'tickets_dashboard' %}">
                                    <i class="fas fa-chart-pie fa-fw me-2 text-black"></i>

                                    Dashboard Tickets</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown mb-4 mx-2 ">

                            <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#"
                               role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid   fas fa-boxes-stacked  fa-fw me-2 text-white"></i>
                                Gestion des colis
                            </a>
                            <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">

                                <li><a class="dropdown-item" href="{% url 'package_list' %}">
                                    <i class="fa-solid   fas fa-boxes-stacked fa-fw me-2 text-black"></i>
                                    Enregistrement colis</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li><a class="dropdown-item" href="{% url 'package_dashboard' %}">
                                    <i class="fas fa-chart-column fa-fw me-2 text-black"></i>
                                    Dashboard Colis</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                            </ul>
                        </div>

                        {#                            <div class="dropdown mb-4 mx-2 ">#}
                        {#                                #}
                        {#                                <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">#}
                        {#                                    <i class="fas fa-money-bill-wave fa-fw me-2 text-white"></i>#}
                        {#                                    Gestion des transferts#}
                        {#                                </a>#}
                        {#                                <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">#}
                        {##}
                        {#                                    <li><a class="dropdown-item" href="{% url 'home' %}">#}
                        {#                                        <i class="fas fa-wallet  fa-coins fa-fw me-2 text-black"></i>#}
                        {#                                        ajout</a></li>#}
                        {#                                            <i class="fas fa-mobile-alt"></i>#}
                        {#                                        <li><hr class="dropdown-divider"></li>#}
                        {##}
                        {#                                </ul>#}
                        {#                            </div>#}

                        <div class="dropdown mb-4 mx-2 ">

                            <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#"
                               role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid   fas fa-briefcase fa-fw me-2 text-white"></i>
                                Comptabilité
                            </a>
                            <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">

                                <li><a class="dropdown-item" href="{% url 'accounting_list' %}">
                                    <i class="fa-solid   fas fa-file-invoice-dollar fa-fw me-2 text-black"></i>
                                    Saisie Ecriture</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li><a class="dropdown-item" href="{% url 'accounting_table' %}">
                                    <i class="fas fa-chart-column fa-fw me-2 text-black"></i>
                                    Dashboard Comptable</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                            </ul>
                        </div>

                        <div class="dropdown mb-4 mx-2 ">

                            <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#"
                               role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-money-bill-1-wave fa-fw me-2 text-white"></i>
                                Gestion des transferts
                            </a>
                            <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">

                                <li><a class="dropdown-item" href="{% url 'transfert_list' %}">
                                    <i class="fas fa-money-bill-alt fa-fw me-2 text-black"></i>
                                    Saisie transfert </a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li><a class="dropdown-item" href="{% url 'accounting_table' %}">
                                    <i class="fas fa-chart-column fa-fw me-2 text-black"></i>
                                    Dashboard Transfert</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                            </ul>
                        </div>
                        <div class="dropdown mb-4 mx-2 ">

                            <a class="btn btn-success dropdown-toggle w-100 d-flex justify-content-between " href="#"
                               role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-comment fa-fw me-2 text-white"></i>
                                AMOURECK Chat
                            </a>
                            <ul class="dropdown-menu w-100 animated-dropdown" aria-labelledby="dropdownMenuLink1">

                                <li><a class="dropdown-item" href="{% url 'home' %}">
                                    <i class="fas fa-comments fa-fw me-2 text-black"></i>
                                    Amoureck Chat</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                            </ul>
                        </div>

                    </div>
                    <!-- Right Section -->

                    <!-- Right Section -->
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item">
                            <a class="btn btn-danger btn-sm" href="{% url 'logout' %}" id="logoutButton">Déconnexion</a>
                        </li>

                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                const logoutBtn = document.getElementById("logoutButton");

                                logoutBtn.addEventListener("click", function (event) {

                                    event.preventDefault(); // Empêche la redirection immédiate
                                    let confirmLogout = confirm("Voulez-vous vraiment vous déconnecter ?");
                                    if (confirmLogout) {
                                        window.location.href = logoutBtn.getAttribute("href"); // Redirection si confirmé
                                    }
                                });
                            });
                        </script>

                    </ul>
                </div>


                <div class="sb-sidenav-footer text-white" style="background:black ">
                    {{ user_agency_name }}


                </div>
            </nav>
        </div>


        <div id="layoutSidenav_content">
            {% block main %} {% endblock main %}
            {#                {% block footer %} {% endblock footer %}#}

        </div>
    </div>


    {% block extra_js %}{% endblock extra_js %}

{% endblock sidebar %}