

const c = document.getElementById("ticketsChart");
console.log("Canvas trouvé ?", c);

{% extends 'sidebar.html' %}
{% load static %}
{% block main %}
<main>
    <div class="container-fluid px-4">
        <h2 class="mt-4">Dashboard-Tickets</h2>
        <hr>

        <div class="row justify-content-center ">
                <form id="filterForm" class="shadow p-4 bg-light rounded">
                    Du: <input type="date" id="date_from" name="date_from">
                    Au: <input type="date" id="date_to" name="date_to">
                    <button class="btn btn-outline-primary" type="submit">Refresh</button>
                </form>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <canvas id="ticketsChart" width="400" height="300" class="shadow p-4 bg-light rounded"></canvas>
            </div>

            <div class="col-md-6">
               <div  class="shadow p-4 bg-light rounded mt-4" >
                    <h5 class="text-center" style="color:rgb(0,67,100)">Montant des tickets vendus par Agence</h5>
                    <table class="table table-bordered table-striped mt-4" id="amountsSummary">

                            <thead class="table-dark">
                                <tr>
                                    <th>Agence</th>
                                    <th>Montant total</th>
                                    <th>Devise</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                    </table>

               </div>

            </div>


        </div>
    </div>



</main>
{% endblock main %}
{% block extra_js %}
{#    <script type="module" src="http://localhost:5173/static/vite/main.js"></script>#}
<script type="module" src="{% static 'vite/assets/main-lOs6HKtl.js' %}"></script>
{% endblock extra_js %}








