{% extends 'sidebar.html' %}

{% block main %}
<main>
                    <div class="container-fluid px-4">
                        <h2 class="mt-4">Détail Ticket</h2>

                        <hr>
                        <div class="row justify-content-center">
                          <div class="col-md-6 shadow p-4 bg-light rounded">
                              <p><strong>Agence : </strong> {{ ticket.agency }}</p>
                              <p><strong>Code Ticket : </strong> {{ ticket.ticket_code }}</p>
                              <p><strong>ID client:     </strong> <a href="{% url 'customer_detail' ticket.customer.id%}" class="badge bg-info">{{ ticket.customer.id}}</a> </p>
                              <p><strong>Nom & Prénoms client: </strong> {{ ticket.customer.firstName }} {{ ticket.customer.lastName }}</p>
                              <p><strong>Téléphone client:     </strong> {{ ticket.customer.phone_number}}</p>
                            <p><strong>Ville de départ :    </strong> {{ ticket.departure_town}}</p>
                            <p><strong>Date départ :  </strong> {{ ticket.departure_date}}</p>
                            <p><strong>Heure départ :  </strong> {{ ticket.departure_hour}}</p>
                            <p><strong>Ville d'arrivée :  </strong> {{ ticket.arrival_town }}</p>
                            <p><strong>Prix:  </strong> {{ ticket.ticket_price }}</p>
                            <p><strong>Moyen de paiement:   </strong> {{ ticket.payment_method }}</p>
                            <p><strong>N° Mobile Money:   </strong> {{ ticket.mobile_money_phone_number }}</p>
                            <p><strong>Statut Ticket :   </strong> <p><strong>Statut :</strong> {% if package.status == "PAYE" %}
                                    <span class="badge bg-success">
                                        <i class="fas fa-circle-check me-1"></i> Payé
                                    </span>
                                {% elif package.status == "NON_PAYE" %}
                                    <span class="badge bg-danger">
                                        <i class="fas fa-circle-xmark me-1"></i> Non payé
                                    </span>
                                {% else %}
                                    <span class="badge bg-warning text-dark">
                                        <i class="fas fa-clock me-1"></i> En attente
                                    </span>
                                {% endif %} </p>



                            <a href="{% url 'ticket_list' %}" class="btn btn-outline-success">Retour à la liste</a>


                        </div>
                    </div>
                    </div>


                </main>

{% endblock main %}






