{% extends 'sidebar.html' %}

{% block main %}
<main>
{% include 'messages.html' %}
                    <div class="container-fluid px-4">

                        <h2 class="mt-4">Situation des ventes de ticket</h2>

                        <hr>


                    <a href="{% url 'ticket_add' %}" class="btn btn-sm btn-outline-primary">Ajouter une ticket</a>

                        <hr>
                        <div class="row">

                          <!-- Champ de recherche -->
                           {% include 'search_form.html' %}

                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>

                              <th scope="col" >Agence </th>
                              <th scope="col" >Code </th>
                              <th scope="col" >Client </th>
                              <th scope="col" >Ville de départ </th>
                              <th scope="col" >Ville d'arrivée </th>
                              <th scope="col" >Date départ </th>
                              <th scope="col" >Heure départ </th>
                              <th scope="col" >Prix </th>
                              <th scope="col" >Moyen de paiement </th>
                              <th scope="col" >N° Mobile Money </th>
                              <th scope="col" >Statut</th>
                              <th scope="col" >Actions </th>

                            </tr>
                          </thead>
                          <tbody>
                                {% for ticket in tickets %}
                            <tr>

                              <td >{{ ticket.agency }}</td>
                              <td >{{ ticket.ticket_code }}</td>
                              <td >{{ ticket.customer }}</td>
                              <td >{{ ticket.departure_town }}</td>
                              <td >{{ ticket.arrival_town }}</td>
                              <td >{{ ticket.departure_date }}</td>
                              <td >{{ ticket.departure_hour }}</td>
                              <td >{{ ticket.ticket_price }}</td>
                              <td >{{ ticket.payment_method }}</td>
                              <td >{{ ticket.mobile_money_phone_number }}</td>
                              <td style="color: {% if ticket.status == 'PAYE' %}green{% else %}red{% endif %};">{{ ticket.status }} </td>


                            <!-- Boutons CRUD -->
                             <td >
                                <div class="d-flex flex-column flex-sm-row gap-2">
{#                                {% if perms.products.change_product %}#}
                                    <a href="{% url 'ticket_edit' ticket.id %}" class="btn btn-sm btn-warning">Modifier</a>
                                    <a href="{% url 'ticket_print' ticket.id %}?preview=1" target="_blank" class="btn btn-sm btn-info">Aperçu</a>
                                    <a href="{% url 'ticket_print' ticket.id %}" class="btn btn-sm btn-primary">Imprimer</a>

        {#                                {% endif %}#}

        {#                            {% if perms.products.delete_product %}#}
                                <button
                                   class="btn btn-sm btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal{{ ticket.id }}">

                                    Supprimer
                                </button>
{#                            {% endif %}#}
                        </div>
                            </td>
                    </tr>



                                <!-- Modale de confirmation -->
                                    <div class="modal fade" id="deleteModal{{ ticket.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ ticket.id }}" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{ ticket.id }}">Confirmation de suppression</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                          </div>
                                          <div class="modal-body">
                                            Êtes-vous sûr de vouloir supprimer l'agence <strong>{{ticket.ticket_code }}</strong> ?
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                                            <form method="post" action="{% url 'ticket_delete' ticket.id %}">
                                              {% csrf_token %}
                                              <button type="submit" class="btn btn-danger">Confirmer</button>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                        </td>
                            </tr>

                                {% endfor %}

                          </tbody>
                        </table>
                           {% include 'pagination.html' %}

                        </div>

                    </div>
                </main>

{% endblock main %}






